<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - My Webpage</title>  

    <ul class="sidenav">
      <li class = "navigationbar__item"><a href="{{url_for('settingsFile')}}">Settings</a></li>
      <li class = "navigationbar__item"><a href="{{url_for('prepareFile')}}">Prepare Email</a></li>
      <li class = "navigationbar__item"><a href="{{url_for('matchFile')}}">Match Students</a></li>
      <li class = "navigationbar__item"><a href="{{url_for('settings')}}">Upload Students</a></li>
      <li class = "navigationbar__item"><a href="{{url_for('upload_data')}}">Upload Data</a></li>
      <li class = "navigationbar__item"><a href="{{url_for('mainFile')}}">Main</a></li>
    </ul>

    {% endblock %}
  </head>
  <body>
    <div id="content" class="content">{% block content %}{% endblock %}</div>
    <div id="footer" class="theFooter">
      {% block footer %}
      <br><hr>
      &copy; Copyright 2023 by <a href="https://www.np.edu.sg/">Ngee Ann Poly</a>.
      {% endblock %}
    </div>

  </body>
</html>