{% extends "layout.html" %}
{% block title %}Match Students{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_student.css') }}">
  {{ super() }}
{% endblock %}
{% block content %}


<div class="theTitle">
  <h1>Match students</h1>
  <hr style="max-width: 500px; margin: 0px; border-top: 1px solid black;">
</div>

<form action="" method = "POST">
<table class="table">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th scope="col">Preference</th>
      <th scope="col">CompanyList</th>
      <th scope="col">Status</th>
      </tr>
  </thead>

  <!-- table database retrievalstarts here ================================================-->
  <tbody>
      {% for students in studentList %}
          <tr>
              <td>{{ students.Name }}</td>
              <td>{{ students.Preference }}</td>

              {% if informationList|length > 0%}

              {% else %}
                <td> 
                  <select>
                    <option class="form-control" value="unassigned">unassigned</option>
                    {% for companies in companyList %}        
                      {% set theVar = companies.Company_Name %}
                      
                      <option class="form-control" value={{companies.CompanyID}} name="companyID" id="companyID">{{theVar}}</option>
                    {% endfor %}
                  </select>
                </td>

                <td>
                  <select>        
                    <option class="form-control" value="unassigned1" name="assignType" id="assignType">unassigned</option>
                    <option class="form-control" value="Pending confirmation1" name="assignType" id="assignType">Pending confirmation</option>
                    <option class="form-control" value="Confirmed1" name="assignType" id="assignType">Confirmed</option>
                  </select>
                </td>        
              {% endif %}

          </tr>

      {% endfor %}

  </tbody>

</table>

<button type="btnAdd" class="btn btn-primary">Submit</button>

</form>
  <!-- table ends here ================================================-->

{% endblock %}