{% extends "layout.html" %}
{% block title %}Match Students{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_student.css') }}">
  {{ super() }}
{% endblock %}
{% block content %}


<div class="theTitle">
  <h1>Match students</h1>
  <hr style="max-width: 500px; margin: 0px; border-top: 1px solid black;">
</div>

<table class="table">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th scope="col">Preference</th>
      <th scope="col">Status</th>
      </tr>
  </thead>
  <tbody>
      {% for students in studentList %}
          <tr>
              <td>{{ students.Name }}</td>
              <td>{{ students.Preference }}</td> 
              <td>{{ students.Status }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}