{% extends "layout.html" %}
{% block title %}Match Students{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_student.css') }}">
  {{ super() }}
{% endblock %}
{% block content %}


<div class="theTitle">
  <h1>Match students</h1>
  <hr style="max-width: 500px; margin: 0px; border-top: 1px solid black;">
</div>

<form action="" method = "POST">

<table class="table">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th scope="col">Preference</th>
      <th scope="col">CompanyList</th>
      <th scope="col">Status</th>
      </tr>
  </thead>

  <!-- table database retrievalstarts here ================================================-->
  <tbody>
      {% for students in studentList %}
          <tr>
            {% set studentVar = students.StudentID %}
              <input type="hidden" class="form-control" value='{{studentVar}}' id="studID" name="studentSelected[]">
              <td>{{ students.Name }}</td>
              <td>{{ students.Preference }}</td>
              
              {% if informationList|length > 0 %}
                <td> 
                  <select name="companySelected[]" class="form-control">

                    {% for information in informationList %}
                      {% if information.StudentID == studentVar %}
                        {% set informationVar = information.ID %}
                        
                          {% for companies in companyList %}
                            {% if companies.ID == informationVar %} 

                              {% set theVar = companies.Company_Name %}
                              {% set compJob = companies.Job_Role %}
                              {% set theCompID = companies.ID %}
                            
                              <option class="form-control" value='{{theCompID}}'>{{compJob}}</option>
                              {% endif %}                           
                          {% endfor %}
                      {% endif %}    
                    {% endfor%}

                    <option class="form-control" value='Unassigned'>Unassigned</option>
                    {% for companies in companyList %}

                        {% set theVar = companies.Company_Name %}
                        {% set compJob = companies.Job_Role %}
                        {% set theCompID = companies.ID %}
                    
                        <option class="form-control" value='{{theCompID}}'>{{compJob}}</option>
                          
                    {% endfor %}

                  </select>
                </td>

              <td>
                <select name="assignmentSelected[]" class="form-control">
                  {% set listOfAssignTypes = ["Unassigned","Pending confirmation","Confirmed"] %}
                  {% set statusStud = students.Status %}
                  <option class="form-control" value="{{statusStud}}" name="assignType" id="assignType">{{statusStud}}</option>
                  
                  {% for item in listOfAssignTypes %}
                    {% if statusStud != item %}
                      <option class="form-control" value="{{item}}" name="assignType" id="assignType">{{item}}</option>
                    {% endif %}
                  {% endfor %}

                </select>
              </td>                   
                
              {% else %}
                <td> 
                  <select name="companySelected[]" class="form-control">
                    <option class="form-control" value='Unassigned'>Unassigned</option>
                    {% for companies in companyList %}        
                      {% set theVar = companies.Company_Name %}
                      {% set compJob = companies.Job_Role %}
                      {% set theCompID = companies.ID %}
                      
                      <option class="form-control" value='{{theCompID}}'>{{compJob}}</option>
                    {% endfor %}
                  </select>
                </td>

                <td>
                  <select name="assignmentSelected[]" class="form-control">        
                    <option class="form-control" value="Unassigned" name="assignType" id="assignType">Unassigned</option>
                    <option class="form-control" value="Pending confirmation" name="assignType" id="assignType">Pending confirmation</option>
                    <option class="form-control" value="Confirmed" name="assignType" id="assignType">Confirmed</option>
                  </select>
                </td>        
              {% endif %}

          </tr>

      {% endfor %}

  </tbody>

</table>

<button type="btnAdd" class="btn btn-primary">Submit</button>

</form>
  <!-- table ends here ================================================-->

{% endblock %}