{% extends "layout.html" %}
{% block title %}Prepare Email{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_student.css') }}">
  {{ super() }}
{% endblock %}
{% block content %}


<div class="theTitle">
  <h1>Prepare Email</h1>
  <hr style="max-width: 500px; margin: 0px; border-top: 1px solid black;">
</div>

<div style="overflow-x:auto;">
<form action="" method = "POST">

<table class="table">
  <thead>
      <tr>
      <th scope="col">Name</th>
      <th scope="col">Preference</th>
      <th scope="col">CompanyList</th>
      <th scope="col">Status</th>
      <th scope="col">Email</th>
      </tr>
  </thead>

  <!-- table database retrievalstarts here ================================================-->
  <tbody>
      {% for students in studentList %}
          <tr>
            {% if students.Status == "Pending confirmation" %}
            {% set studentVar = students.StudentID %}
              <input type="hidden" class="form-control" value='{{studentVar}}' id="studID" name="studentSelected[]">
              <td>{{ students.Name }}</td>
              <td>{{ students.Preference }}</td>
              
              {% if informationList|length > 0 %}
                <td> 
                

                    {% for information in informationList %}
                      {% if information.StudentID == studentVar %}
                        {% set informationVar = information.ID %}
                        
                          {% for companies in companyList %}
                            {% if companies.ID == informationVar %} 

                              {% set theVar = companies.Company_Name %}
                              {% set compJob = companies.Job_Role %}
                              {% set theCompID = companies.ID %}
                            
                              <input type="hidden" class="form-control" value='{{theCompID}}'>{{theVar}},{{compJob}}</input>
                              {% endif %}                           
                          {% endfor %}
                      {% endif %}    
                    {% endfor%}

                  
                    {% for companies in companyList %}

                    {% set theVar = companies.Company_Name %}
                    {% set compJob = companies.Job_Role %}
                    {% set theCompID = companies.ID %}
                          
                    {% endfor %}

                  
                </td>

              <td>
                  {% set listOfAssignTypes = ["Pending confirmation"] %}
                  {% set statusStud = students.Status %}
             
                  <input type="hidden" class="form-control" value="{{statusStud}}" name="assignType" id="assignType">{{statusStud}}</input>
                  
                  {% for item in listOfAssignTypes %}
                    {% if statusStud != item %}
                      <option class="form-control" value="{{item}}" name="assignType" id="assignType">{{item}}</option>
                    {% endif %}
                  {% endfor %}
              </td>                   
                
              {% else %}
                <td> 
                  <input type ="hidden" name="companySelected[]" id="companySelected" class="form-control" >
                    {% for companies in companyList %}        
                      {% set theVar = companies.Company_Name %}
                      {% set compJob = companies.Job_Role %}
                      {% set theCompID = companies.ID %}
                      
                      <option class="form-control" value='{{theCompID}}'>{{theVar}},{{compJob}}</option>
                    
                  <input type="hidden" class="form-control" value='{{studentVar}}' id="studID" name="studentSelected[]">
                    {% endfor %}
                </input>
                </td>
              {% endif %}
              <td>
                <a class="button" href="{{ url_for('SendFile') }}">Open</a>
              </td>
              
              {% endif %}
          
          </tr>

      {% endfor %}

  </tbody>

</table>

</form>
</div>
  <!-- table ends here ================================================-->
 

{% endblock %}